.link-class a {
    color: red;
  }
.style-class {
    font-size: medium;
    color: maroon;
}

.style-class2 {
    font-size: small;
    color: olive
}
h1 {
    font-size: medium
}
a[href] {
    color: red
}

 