body {
    height: 1000px;
}

.link-class a {
    color: red;
  }
.style-class {
    font-size: medium;
    color: maroon;
}

.style-class2 {
    font-size: small;
    color: olive
}
h1 {
    font-size: medium
}
a[href] {
    color: red
}

.colorBox {
    border: 2px solid rgb(230, 173, 176);
    border-color: solid red;
    border-width: 2px;
    background-color: #6A6;
    padding: 10 px;
}

.colorList {
    margin: 15px;
    border: 2px solid darkblue;
    background-color: lightblue;
    /* padding: 10 px; */
}

.p-style {
    margin: 15px;
    background-color: #FB1;
    border-color: 2px dotted black; 
}

  
  .box-1-yellow {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border: 2px solid red;
    background-color: yellow;
    position: absolute;
  }
  
  .box-2-blue {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border: 2px solid red;
    background-color: blue;
    position: relative;
  }
  .box-3-green {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border: 2px solid red;
    background-color: green;
    position: relative;
  }
  